@import "../variables.scss";

@mixin contacts {
	.contactsListContainer::-webkit-scrollbar {
		width: 5px;
	}

	.contactsListContainer::-webkit-scrollbar-thumb {
		background: rgb(212, 212, 212);
	}
	.contactsListContainer {
		width: 100%;
		height: 100%;
		margin-right: 0;
		overflow: auto;
		box-shadow: 1px 1px 5px $shadow;
		background-color: white;
		.contactList {
			width: 100%;
			.contact {
				display: flex;
				width: 100%;
				padding: 10px;
				margin-bottom: 5px;
				border-bottom: 1px solid rgb(160, 160, 160);
				.contactImg img {
					height: 50px;
					width: 50px;
					border-radius: 50px;
					background-color: $primaryColor;
				}
				.contactInfo {
					width: 100%;
					margin-left: 10px;
					.contactName {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 700px) {
		.contactsListContainer {
			width: 30%;
		}
	}
}
