@mixin messageBox {
	.messageBoxContainer {
		width: 70%;
		margin-left: 5px;

		.messageBox {
			border-radius: 5px;
			display: flex;
			height: 100%;
			flex-direction: column;
			.messages::-webkit-scrollbar {
				width: 5px;
			}

			.messages::-webkit-scrollbar-thumb {
				background: rgb(212, 212, 212);
			}

			.messages {
				overflow-y: auto;
				padding: 20px;
				margin-bottom: 5px;
				background-color: white;
				box-shadow: 1px 1px 5px $shadow;
				height: 100%;

				div {
					padding: 10px;
					max-width: 70%;
					border-radius: 30px;
					margin: 5px;
				}
				.sender {
					color: $whiteBackground;
					background-color: $primaryColor;
				}

				.receiver {
					background-color: rgb(235, 235, 235);
					margin-left: auto;
				}
			}

			form {
				margin-top: auto;
				display: flex;
				padding: 10px;
				justify-content: space-between;
				background-color: white;
				box-shadow: 1px 1px 5px $shadow;

				textarea {
					width: 85%;
					padding: 5px 10px;
					resize: none;
					border-radius: 30px;
					outline: none;
					border: none;
					// box-shadow: 1px 1px 2px $shadow;
					background-color: rgb(235, 235, 235);
				}
				input {
					width: 10%;
					outline: none;
					border-radius: 30px;
					border: none;
					color: $whiteBackground;
					background-color: $primaryColor;
					box-shadow: 1px 1px 4px gray;
				}
			}
		}
	}
}
