@import "../variables.scss";

.fullScreenImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;
  img {
    max-height: 90%;
    max-width: 90%;
    box-shadow: 1px 1px 5px black;
  }
  .fa-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    font-size: 2em;
    z-index: 2000;
    cursor: pointer;
  }
}
.hideImage {
  display: flex !important;
}

.gallerySection {
  column-count: 2;
  margin-top: 20px;
  grid-gap: 10px;
  img {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
  }
}

@media only screen and (min-width: 500px) {
  .gallerySection {
    column-count: 3;
  }
}
