@import "./variables.scss";

.updateUser {
  padding: 70px 0;
  height: 100%;
  width: 100%;
  form {
    padding: 20px;
    max-width: 700px;
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 4px $shadow;
    border-radius: 20px;
    input {
      width: 100%;
      margin: 5px 0;
    }
    .fileBtn {
      background-color: $secondaryColor;
      color: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px $shadow;
      margin: 10px 0;
      cursor: pointer;
    }
    figure {
      width: 100%;
      max-width: 200px;
      max-height: 250px;
      overflow: hidden;
      img {
        width: 100% !important;
        min-height: 200px;
      }
    }
    input[type="file"] {
      display: none;
    }
    textarea {
      height: 100px;
      resize: none;
    }
    h5 {
      font-size: 1em !important;
      font-family: "ABeeZee", sans-serif;
    }
    .saveBtn {
      margin-top: 5px;
      background-color: $secondaryColor !important;
      border: 1px solid $secondaryColor;
      cursor: pointer;
      box-shadow: 1px 1px 5px $shadow;
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        font-weight: 100;
      }
      .is-coral {
        color: black;
      }
      label {
        padding: 2px 5px;
        opacity: 0.7;
        margin: 5px;
        color: white;
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked ~ label {
        opacity: 1 !important;
        transform: scale(1.2);
        margin: 5px 10px;
      }
    }
  }
  .update {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
