@import "../variables.scss";
.navHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $whiteBackground;
  z-index: 100;
  .navMain {
    margin: auto;
    padding: 10px;
    max-width: 1260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    h2 {
      transition: 0.5s;
      margin: 0;
      &:hover {
        cursor: pointer;
        color: $tertiaryColor;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      li {
        margin: 0 10px;
        font-size: 1.2em;
        transition: 0.5s;
        color: $primaryColor;
        position: relative;
        &:hover {
          cursor: pointer;
          color: $tertiaryColor;
        }
        span {
          font-size: 12px;
          color: $tertiaryColor;
        }
      }
      .showNotif {
        display: block !important;
      }
      .notification {
        position: fixed;
        border: 1px solid rgb(216, 216, 216);
        width: 200px;
        display: none;
        height: 300px;
        overflow: auto;
        margin-left: -100px;
        background-color: white;
        padding: 0 !important;
        .req {
          padding: 5px 10px;
          position: relative;
          span {
            margin: 0;
            padding: 0;
            position: absolute;
            right: 5px;
            display: none;
          }
          p {
            // color: rgb(51, 51, 51);
            font-size: 0.7em;
          }
        }
        .new {
          span {
            display: block;
          }
        }

        .Approved {
          background-color: rgb(188, 243, 188);
          border: 1px solid $secondaryColor;

          span {
            color: $secondaryColor;
          }
          p {
            color: $secondaryColor;
          }
        }
        .Rejected {
          background-color: rgb(255, 205, 205);
          border: 1px solid $tertiaryColor;
          p {
            color: $tertiaryColor;
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 500px) {
//   .notification {
//     left: 0;
//     margin: 0 !important;
//     width: 100% !important;
//     height: 100% !important;
//   }
// }
