@import "../variables.scss";
.navHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $whiteBackground;
	z-index: 100;
	.navMain {
		margin: auto;
		padding: 10px;
		max-width: 1080px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		a {
			text-decoration: none;
		}
		h2 {
			transition: 0.5s;
			&:hover {
				transform: scale(1.4);
				cursor: pointer;
				color: $tertiaryColor;
			}
		}
		ul {
			list-style-type: none;
			display: flex;
			li {
				margin: 0 10px;
				font-size: 1.2em;
				transition: 0.5s;
				color: $primaryColor;
				&:hover {
					transform: scale(1.4);
					cursor: pointer;
					color: $tertiaryColor;
				}
			}
		}
	}
}
