@import "../variables.scss";

@mixin mainRegistration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
  overflow: hidden;
  padding-top: 80px;
  .error {
    background-color: rgb(255, 124, 124);
    color: rgb(37, 4, 4);
    max-width: max-content;
    border-radius: 5px;
    margin: 3px 0;
  }
  form {
    width: 90%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px $shadow;
    transition: 0.5s;
    &:hover {
      transform: scale(1.01);
    }
    input[type="file"] {
      display: none;
    }

    .fileBtn {
      padding: 5px;
      border-radius: 5px;
      box-shadow: 1px 1px 4px $shadow;
      cursor: pointer;
      margin: 5px 0;
      &:hover {
        transition: 0.5s;
        transform: scale(1.05);
      }
    }
    .previewImgs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      figure {
        margin: 2px;
        width: 80px;
        max-height: 80px;
        overflow: hidden;
        img {
          width: 100%;
          min-height: 100%;
        }
      }
    }

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      margin: 10px 0;
      padding: 5px 0;
      color: white;
      font-size: 1.1em;
    }
    select {
      margin: 10px 5px;
      padding: 5px;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: 1em;
    }

    .profilePic {
      width: 100%;
      margin: auto;
      overflow: hidden;
      max-height: 300px;
      img {
        width: 100%;
      }
    }

    textarea {
      height: 200px;
      width: 100%;
      resize: none;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.1em;
      margin-top: 10px;
    }
    button {
      margin-top: 20px;
      box-shadow: 1px 1px 3px $shadow;
      border: none;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      &:hover {
        transition: 0.5s;
        transform: scale(1.05);
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      label {
        border-radius: 5px;
        padding: 5px;
        opacity: 1;
        font-size: 1em;
        margin: 3px;
        color: black;
      }
      input[type="checkbox"] {
        display: none;
      }
    }

    input[type="checkbox"]:checked ~ label {
      background-color: $primaryColor;
      color: white;
    }
  }
  a {
    text-decoration: underline;
  }
}

@mixin red {
  form {
    background-color: $tertiaryColor;
    input {
      border-bottom: 1px solid #ffd6dc;
    }
    textarea {
      background-color: #ffd6dc;
    }
    select {
      background-color: #ffd6dc;
    }
    button {
      background-color: #ffd6dc;
      color: $tertiaryColor;
    }
  }
  a {
    color: white;
  }
  h1 {
    color: white;
  }
  label {
    background-color: #ffd6dc;
  }
  input::placeholder {
    color: white;
  }
  button {
    margin-top: 10px;

    box-shadow: 1px 1px 3px $shadow;
    border: none;
    padding: 10px;

    border-radius: 30px;
    width: 30%;
    color: #800011;
  }
}

@mixin green {
  form {
    background-color: $secondaryColor;
    input {
      border-bottom: 1px solid #90ffd3;
    }
    textarea,
    label {
      background-color: #90ffd3;
    }
    select {
      background-color: #90ffd3;
      color: #032416;
    }
    button {
      background-color: #90ffd3;
      color: #005835;
    }
  }
  a {
    color: white;
  }
  h1 {
    color: white;
  }
  input::placeholder {
    color: white;
  }
}
